*:not(menu):not(arrow):not(menuitem):not(tooltip) {
    all: unset;
}

* {
    border-radius: 0rem;
    font-family: "Hack Nerd Font Mono";
    font-size: 16px;
    color: @txt@;
}

menu {
    background-color: @base@;
    border: 1px solid @surface0@;
}

label {
    color: @txt@;
    padding-right: 1rem;
    padding-left: 1rem;
}

tooltip {
  background: @base@;
  border: 1px solid @surface0@;
}

window#waybar {
    background-color: @crust@;
}

.modules-left,  .modules-right, .modules-center {
    margin: 0rem 0.4rem;
}
.modules-left {
    margin-left: -0.4rem;
}
.modules-right {
    margin-right: -0.4rem;
}

#window, #workspaces, #battery, #clock, #taskbar, #pulseaudio, #tray, #backlight,  #custom-notification, #power-profiles-daemon {
    font-size: 16px;
    background-color: @surface0@;
    margin: 0rem 0.4rem;
    padding: 0rem 1rem;
}

#workspaces label {
    font-size: 12px;
    color: @blue@;
    font-weight: bold;

}

#workspaces button {
    padding: 0rem 0.3rem;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

#workspaces button.active {
    border-top: 2px solid @blue@;
}

#workspaces button.empty label {
    color: @subtext0@;
}

#battery.charging {
    color: @green@;
}

#battery.warning:not(.charging) {
    color: @yellow@;
}

#battery.critical:not(.charging) {
    color: @red@;
}

#taskbar button {
    border-top: 2px solid transparent;
    padding: 0rem 0.4rem;
}

#backlight {
    color: @yellow@;
}

#clock {
    font-weight: bold;
}

#taskbar button.active {
    border-top: 2px solid @green@;
}

#taskbar button.minimized {
    border-top: 2px solid @yellow@;
}

#taskbar button.maximized {
    border-top: 2px solid @blue@;
}

#pulseaudio {
    color: @sapphire@;
}

#pulseaudio.muted {
    color: @peach@;
}

#power-profiles-daemon {
    color: @txt@;
}

#power-profiles-daemon.power-saver {
    color: @green@;
}

#power-profiles-daemon.performance {
    color: @peach@;
}

window#waybar.empty #window,
window#waybar.empty #workspaces,
window#waybar.empty #battery,
window#waybar.empty #clock,
window#waybar.empty #taskbar,
window#waybar.empty #pulseaudio,
window#waybar.empty #tray,
window#waybar.empty #backlight,
window#waybar.empty #power-profiles-daemon,
window#waybar.empty #custom-notification {
    background-color: transparent;
}

window#waybar.empty {
    background-color: rgba(17, 17, 27, 0.3);
}

window#waybar.empty #workspaces button.empty label {
    color: @txt@;
}

window#waybar.empty #workspaces button.active {
    border-top: 2px solid @txt@;
}

window#waybar.fullscreen #window {
    color: @green@;
}

